@import url("./normalize.css");

:root{
	--color-text:#393939;
	--color-high-text:#ff5777;
	--color-tint:#ff8198;
	--color-background:#fff;
	--font-size:14px;
	--line-height:1.5;
}

*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;

	user-select: none; /* 禁止用户鼠标在页面选中文字/图片等; */

	background-color: var(--color-background);
	color: var(--color-text);

  overflow-x: hidden;
	width: 100vw;
}

a {
	color: var(--color-text);
	text-decoration: none;
}

.clear-fix::after{
	clear: both;
	content: '';
	display: block;
	width: 0;
	height: 0;
	visibility: hidden;
}

.clear-fix{
	zoom: 1;
}

.left {
	float: left;
}

.riht {
	float: right;
}
